<%- include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="https://www.fcbarcelona.com/photo-resources/2023/05/20/fd8f3ab0-de0a-46f3-b458-889c4678adcf/2022-05-20_FCBvsREIALSOCIETAT_139.JPG?width=1200&height=525" alt="FCB profile">
<p>
  Futbol Club Barcelona, commonly referred to as Barcelona and colloquially known as Barça, is a professional football club based in Barcelona, Catalonia, Spain, that competes in La Liga, the top flight of Spanish football.</p>

  <%- include("partials/footer.ejs") %>