<%= variable %>             --> JS Output

<% console.log("Hello") %>  --> JS Execute

<%- <h1>Welcome</h1> %>       --> EJS Render HTML

<%%  %%= "World" %>          --> EJS Express Variable  

<%#  This is a comment %>     --> Skip rendering/ Stop Execution

<%- include("header.ejs") %>  --> Insert another EJS file